@import "../../App.scss";

#random {
    display: block;
    width: 100%;

    #random-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 2px solid lighten($color: $grey-4, $amount: 70%);
        font-family: "Times New Roman", Times, serif;
    }

    #random-images {
        display: grid;
        height: 60vh;
        grid-template-areas: "left right";
        grid-template-columns: 0.45fr 0.55fr;
        grid-template-rows: auto;
        border: 2px solid lighten($color: $grey-4, $amount: 70%);
        border-top: 0px;

        #left {
            grid-area: "left";
            height: 100%;
            padding: $defaultPadding;
        }

        #right {
            grid-area: "right";
            height: 100%;
            display: flex;
            flex-direction: column;

            #right-top {
                flex: 1;
                display: flex;

                #top-left {
                    flex: 1;
                    padding: $defaultPadding;
                }

                #top-right {
                    flex: 1;
                    padding: $defaultPadding;
                }
            }

            #right-bottom {
                flex: 1;
                padding: $defaultPadding;
            }
        }
    }
}
